# Use this file to write the same environment variables as in the real .env file
# but using example values; of this way, this could served as a guide.

##### PostgreSQL #####
TAG_PG=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

##### KeyCloak #####
#Version
TAG_KC=
# Credentials
KC_BOOTSTRAP_ADMIN_USERNAME=
KC_BOOTSTRAP_ADMIN_PASSWORD=
# Health and Metrics
KC_HEALTH_ENABLED=
KC_METRICS_ENABLED=
# Database
KC_DB=
KC_DB_URL=
#Other
KC_CACHE=
KC_HTTP_ENABLED=
KC_HOSTNAME_STRICT=