# Copiar como secrets.env antes de aplicar el overlay en ejecucion para que funcione (tengo sueño)
# secrets.env esta ignorado por Git
POSTGRES_USER=admin100
POSTGRES_PASSWORD=CAMBIAR_POSTGRES_PASSWORD
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=CAMBIAR_KEYCLOAK_ADMIN_PASSWORD
K6_WRITER_USERNAME=k6_writer
K6_WRITER_PASSWORD=CAMBIAR_WRITER_PASSWORD
K6_READER_USERNAME=k6_reader
K6_READER_PASSWORD=CAMBIAR_READER_PASSWORD
